/* navbar */


    
.sottotitolo1 {
    color: mediumseagreen;
}

.home1 {
    color: mediumseagreen;
    margin: 15px;
}

.titolo2 {
    background-color: mediumspringgreen;
}

.fake-navbar{
    height: auto;
    margin-top: 80px;
}

body {
    background-color: var(--white);
}

a{
    text-decoration: none;
}

.c-main {
    color: mediumseagreen;
}

.c-main2{
    background-color: mediumseagreen;
}

.p-1 {
    font-size: 18pxpx;
}

/* categories */

.category-card {
    border: solid 15px var(--white);
    border-radius: 10px;
    transition: all 0.5s;
    max-width: 350px;
    margin: auto;
}

.category-card .border-dashed {
    border: dashed 1px var(--main);
    padding: 30px;
    text-align: center;
    border-radius: 10px;
    transition: all 0.5px;
}


.category-card .icon {
    border: dashed 1px var(--main);
    padding: 20px;
    color: var(--main);
    font-size: 10px;
    text-align: center;
    display: inline-block;
    border-radius: 50%;
    background-color: white;
}

.category-card:hover .border-dashed {
    background-color: var(--main);
}

.category-card h3 {
    color: var(--dark);
    transition: all 0.5s;

}

.category-card p {
    color: var(--main);
    transition: all 0.5s;
}

.category-card:hover h3 {
    color: white;
}

.category-card:hover p{
    color: white;
}

